fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
email-validator
fastapi-mail>=1.4.1
python-multipart
motor==3.3.2
beanie==2.1.0
pymongo==4.6.3
httpx
apscheduler
pytest
requests
locust
PyJWT